extends base

block vars
  - var title = 'Dashboard'

block body
  h1 Dashboard
  p.
    Welcome to your dashboard! You are now logged in.
    <a href = "/logout">logout</a>

  h2 User Information
  p User Name: #{user.moqaName}
  p First Name: #{user.firstName}
  p Last Name: #{user.lastName}
  p Email: #{user.email}
  p Data: #{user.data}

  form(method="post")
    span New Comment:
    input(type="text", name="commentContent", required=true)
    br

    input(type="submit")
    br
  p Recent Comments
  br

  ul
    each comment, i in comments
      li
        p #{comment.commentContent}