extends base

block vars
  - var title = 'thread'

block body
  h1 title: #{thread[0].threadTitle}
  p user: #{thread[0].moqaName}
  p date: #{thread[0].threadTimeStamp}
  p content: #{thread[0].threadContent}

  form(method="post")
    span New Comment:
    input(type="text", name="commentContent", required=true)
    br

    input(type="submit")
    br

  p Recent Comments
  br

  ul
    each comment, i in comments
      li
        p #{comment.commentContent}